<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>Группы</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container" align="center">
    <h3>Список групп</h3>
    <table style="width:80%" border="1"
           class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Количество студентов</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group:${groups}">
            <td th:text="${group.number}"></td>
            <td th:text="${group.studentsCount}"></td>
            <td>
                <a th:href="@{/groups/{id}(id=${group.id})}"
                   class="btn btn-edit">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/groups}" method="post">
        <label for="groupNumber">Номер группы:</label>
        <input type="text" id="groupNumber" name="groupNumber" required />
        <button type="submit">Создать группу</button>
    </form>
</div>
</body>
</html>